@import "../../../Styles/import";

.header{

padding:1rem 2rem;
background: $color-netflix;
width:100%;
height: 14vh;
position:fixed;



.items{
margin-bottom: 1.5rem ;
display: flex;
justify-content: space-between;
align-items: center;


.items_link{
ul{
display: flex;
li{
font-size: 1.5rem;
padding: 0 2rem;
a{
color:$light-bg;
}
}
}
}
.logo{

background:$color-yellow;
border-radius: 4px;
width:3vw;
text-align:center;
img{
object-fit: cover;
max-height:90%;
max-width: 100%;
}
}

.Search{
border-radius: 4px;
min-width:54%;
min-height: 5.5vh;
background: $search-bg; 
form{
max-width: 100%;
max-height: 100%;

input{

width: 92%;
line-height:5.5vh;
padding-left: 1rem;
text-align: left;
color:$color-netflix;
font-size: 1.5rem;

&::placeholder{
    color:rgb(71, 71, 71);
}


}



button{
   margin-top: 1rem; 
   margin-left: 3rem;
   font-size: 1.7rem;
}
} 
}
.Items_btn{
    padding:0 2rem;
    
.Btn{
color:$color-white;
margin:0 1rem;
font-size: 2rem;
cursor: pointer;
transition: all .4s ease-in-out;
&:hover{
color:$color-yellow;
}
}
}
}

.items1{
    display:flex;
    justify-content: space-between;
    button{
        text-align: center;
    font-size: 1.7rem;
    color:$color-white;
    
    }
    .Nav_Link{
        max-width: 90%;
        ul{
            display: flex;
        }
    }
}
}



//Responsividade

@media screen and (max-width:765px) and (max-height:680px) {
    
.header{
.wrapper{
.menuIcon{
    display: flex;
cursor: pointer;
}
.navlink{
display: none;
}
.menulink{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    position:fixed;
    left:0;
    width: 100%;
    height: 10vh;
    top:90%;
    
    
    
   

}
}

}
}