@import "../../../Styles/import";

.activeHeader{
    

line-height: 10vh;
height: 10vh;
background:$color-Black;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.23);
width: 100%;
height:10vh;
position: fixed;
z-index:1000;

.wrapper{
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
max-width: 90%;
margin: auto ;

.logo{
height: 7vh;
clip-path: circle();
object-fit: cover;
background: $color-white;


img{
width:3vw;
}
}

.navlink{
display: flex;
justify-content:center;
width: 70%;

li{
list-style: none;
text-decoration: none;
}


.item{
color:$color-secundaria;
font-size: 1.5rem;
padding: 0 3px;
margin: 0 4px;
border-bottom:4px solid transparent;
height: 10vh;
cursor: pointer;
text-transform: capitalize;
&:hover{
color: $color-white;
border-bottom: 4px solid $color-terciaria;
}
}
}

.menulink{
display: flex;
justify-content: center;
width: 70%;

li{
list-style: none;
text-decoration: none;
}

.item{
color:$color-secundaria;
font-size: 1.5rem;
padding: 0 3px;
margin: 0 4px;
border-bottom:4px solid transparent;
height: 10vh;
cursor: pointer;
text-transform: capitalize;

&:hover{
color: $color-white;
border-bottom: 4px solid $color-terciaria;
}

}

}



.cart{

display:none;

}

.Carshop{
position: absolute;
top:100%;
width:20%;
right: 2rem;
height: 30rem;
background:$color-scuro;
border: 4px solid $color-scuro;   
border-radius: 4px;
animation:fadeUp .4s linear;


}

.btnIcon{
display:flex;
align-items:center;

div{
width:4.5rem;
height: 4.5rem;
line-height:5rem;
font-size:2rem;
background:$color-scuro;
margin-left:.5rem;
text-align:center;
border-radius:.5rem;
transition:0.5s all;
button{
color: $color-terciaria;
border: none;
background: none;
font-size: 2rem;
cursor: pointer;
}

.menuIcon{
    display: none;
}
&:nth-child(4){
display:none;
}
&:hover{
    background:$light-bg;
    
}
}
}

}

section{
    padding:2rem ;
}

.activeSearch{
display:block;  
position:absolute;
top:6.9rem; left:0;right:0;
margin-top:0.1rem;
background:$color-scuro;


form{
display:flex;
height:7rem;
width:100%;
display:flex;
align-items:center;
border-bottom:.2rem solid $color-primaria;
padding-left: 4rem;;
animation:fadeUp .4s linear;

input{
width:100%;
height:100%;
font-size:1.7rem;
text-transform:none;
color:$light-bg;
border:none;
outline:none;
padding-right:1rem;
background:transparent;

&::placeholder{
color:$light-bg;
text-transform: capitalize;
}
}

div{
position:absolute;
left:129rem;top:1rem;
color:$color-terciaria;
font-size:2rem;
text-align:center;
width:2rem;

}

label{
font-size:3rem;
cursor: pointer;
}
}
}
.search{
    display:none;
    
}

}
.header{

line-height: 10vh;
height: 10vh;
background:transparent;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.23);
width: 100%;
height:10vh;
position: fixed;
z-index:1000;

.wrapper{
display: flex;
justify-content: space-between;
align-items: center;
height: 10vh;
max-width: 90%;
margin: auto ;

.logo{
height: 7vh;
clip-path: circle();
object-fit: cover;
background: $color-white;


img{
width:3vw;
}
}

.navlink{
display: flex;
justify-content:center;
width: 70%;

li{
list-style: none;
text-decoration: none;
}


.item{
color:$color-secundaria;
font-size: 1.5rem;
padding: 0 3px;
margin: 0 4px;
border-bottom:4px solid transparent;
height: 10vh;
cursor: pointer;
text-transform: capitalize;
&:hover{
color: $color-white;
border-bottom: 4px solid $color-terciaria;
}
}
}

.menulink{
display: flex;
justify-content: center;
width: 70%;

li{
list-style: none;
text-decoration: none;
}

.item{
color:$color-secundaria;
font-size: 1.5rem;
padding: 0 3px;
margin: 0 4px;
border-bottom:4px solid transparent;
height: 10vh;
cursor: pointer;
text-transform: capitalize;

&:hover{
color: $color-white;
border-bottom: 4px solid $color-terciaria;
}

}

}



.cart{

display:none;

}

.Carshop{
position: absolute;
top:100%;
width:20%;
right: 2rem;
height: 30rem;
background:$color-scuro;
border: 4px solid $color-scuro;   
border-radius: 4px;
animation:fadeUp .4s linear;


}

.btnIcon{
display:flex;
align-items:center;

div{
width:4.5rem;
height: 4.5rem;
line-height:5rem;
font-size:2rem;
background:$color-scuro;
margin-left:.5rem;
text-align:center;
border-radius:.5rem;
transition:0.5s all;
button{
color: $color-terciaria;
border: none;
background: none;
font-size: 2rem;
cursor: pointer;
}

.menuIcon{
    display: none;
}
&:nth-child(4){
display:none;
}
&:hover{
    background:$light-bg;
    
}
}
}

}

section{
    padding:2rem ;
}

.activeSearch{
display:block;  
position:absolute;
top:6.9rem; left:0;right:0;
margin-top:0.1rem;
background:transparent;


form{
display:flex;
height:7rem;
width:100%;
display:flex;
align-items:center;
border-bottom:.2rem solid $color-primaria;
padding-left: 4rem;;
animation:fadeUp .4s linear;

input{
width:100%;
height:100%;
font-size:1.7rem;
text-transform:none;
color:$light-bg;
border:none;
outline:none;
padding-right:1rem;
background:transparent;

&::placeholder{
color:$light-bg;
text-transform: capitalize;
}
}

div{
position:absolute;
left:125rem;top:0;
color:$color-terciaria;
font-size:2rem;
text-align:center;
width:2rem;

}

label{
font-size:3rem;
cursor: pointer;
}
}
}
.search{
    display:none;
    
}

}



@keyframes fadeUp{
    0%{
        transform:translateY(5rem);
        opacity:0;
    }
}
/*Responsive*/

@media (max-width:991px){
html{
font-size: 55%;
}


}


@media (max-width:890px){

.activeHeader{
line-height: 10vh;
height: 10vh;


.wrapper{

display: flex;
justify-content: space-between;
align-items: center;
max-width: 90%;
margin: auto ;
height: 10vh;

.navlink{
display: none;

}

.menulink{
position: absolute;
display:block;
top: 100%;
left: 0;
transition: all 0.5s ease-in-out;
width: 100%;

.item{
background-color: $color-scuro;
margin: 0.5rem;
padding: 0.5rem;
border: .2rem solid $color-scuro;
border-left: .5rem solid $color-terciaria;
}

}
.btnIcon{

div{


.menuIcon{
display: block;
padding-left:1.3rem;


}
&:nth-child(4){
display:flex;
}
}
}

}

}
.header{
line-height: 10vh;
height: 10vh;


.wrapper{

display: flex;
justify-content: space-between;
align-items: center;
max-width: 90%;
margin: auto ;
height: 10vh;

.navlink{
display: none;

}

.menulink{
position: absolute;
display:block;
top: 100%;
left: 0;
transition: all 0.5s ease-in-out;
width: 100%;

.item{
background-color: $color-scuro;
margin: 0.5rem;
padding: 0.5rem;
border: .2rem solid $color-scuro;
border-left: .5rem solid $color-terciaria;
}

}
.btnIcon{

div{


.menuIcon{
display: block;
padding-left:1.3rem;


}
&:nth-child(4){
display:flex;
}
}
}

}

}

}