@import "../../../../Styles/import";
.Card_conteiner{
display: flex;
align-items: center;
justify-content: space-around;
flex-grow:1;
color:white;
border-radius: 14px;
background:$color-secundaria;
width: 100%;

.Card_text{
padding: 1rem;

h1{
font-family: $font-AlfaSlab;
font-weight: 50;
text-transform: capitalize;
font-size: 5em;
margin-bottom: 1rem;
}

p{
font-family: $font-BebasNeue;
font-weight:10;
font-size: 1.3rem;
color:$light-bg;
}

}

.Card_img{
width:20% ;
img{
max-width:100%;
object-fit:cover;
}

}

.Card_btn{

button{
background: $color-white;
padding: 1.5rem;
border-radius:5px;
font-family: $font-poppins;
text-transform: capitalize;
cursor: pointer;
transition:all .4s ease-in-out;
&:hover{
background: $light-bg;
}
}
}
}
