@import "../../../Styles/import";
.Lojabox{
    
width: 100%;
height: 100%;



.categoria_icon{
display:none;

}
.categoria{
position:fixed;
background: $color-netflix;
top:10%;
height:100%;
width:15%;
display:flex;
z-index: 100;
justify-content: center;
padding: 4rem 0;
border-radius: 0 0.3rem 0px;


.Category_Item{
height: 100%;
width:100%;
font-family:$font-poppins;

ul{
    display:flex;
    align-items:center;
    margin-left: 1rem;
li{
 display:flex;
 align-items:center;
 border:2px solid $color-netflix;
 border-radius:4px;
 padding:0.2rem;
 transition:0.2s all;
 
   &:hover{
    background:$color-secundaria;
    border-left:2px solid $color-terciaria;

   }
a{
font-size:1.4rem;
color:$color-white;
padding:0 1.5rem;
cursor:pointer;
}

.Category_itemIcon{
    font-size:2.5rem;
    background:$color-terciaria;
    border-radius: 5px;
    clip-path:circle();
   width:10%;

    span{
        color:$color-quart;
        img{
        
        margin-left:0.2rem;
        width:80%;
    }
   
}

}

}

}
}

}

.cardloaja{

margin:0 auto;
display: flex;
top:7rem;
position:absolute;
right:0;
width:85%;
padding: 15px;
gap: 20px;

}


}


/*Responsive*/

@media (max-width:998px){
    html{
    font-size: 55%;
    }
    .Lojabox{
    
        .categoria_icon{
        display:flex;
        
        }
        .categoria{
       
        display:none;
       
        
        
        
        }
        
        .cardloaja{

        
            display: flex;
            top:7rem;
            position:absolute;
            right:0;
            width:100%;
            padding: 20px;
            gap: 16px;
            
            }
        }
        
        }
        
       
        
        
        
        
    
    
    
    
    @media (max-width:890px){
    
       
        
       
    
    }
    @media (max-width:705px){
    
       
      
       
    
    }