@import "../../../Styles/import";
.Lojabox{

width: 100%;
height: 100%;



.categoria_iconbutton{
display:none;

}
.categoria{
position:fixed;
background: $color-netflix;
top:10%;
height:100%;
width:15%;
border-radius: 0 0.3rem 0px;
z-index: 100;


.Category_Item{
display:flex;
align-items:center;
margin:1rem;
padding:0.5rem;
font-family:$font-poppins;
width:94%;
border:2px solid transparent;
img{
    clip-path:circle();
    width:13%;
    object-fit:contain;
    background:$color-quart;

}


&:hover{
background:$color-secundaria;
border-left:2px solid $color-terciaria;

}
a{
font-size:1.5rem;
margin-left:1rem;
color:$color-white;
text-transform:capitalize;
}


}

}

.cardloaja{

margin:0 auto;
display: flex;
top:7rem;
position:absolute;
right:0;
width:85%;
padding: 15px;
gap: 20px;

}
.Loja_slide{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 30vh 30vh 30vh;
align-items:center;
justify-content:center;
top:2%;
right:0;
position:absolute;
width:90%;
height:90%;
grid-gap: 20px;
padding:8%;

.grid0{
    width:100%;
    grid-row:1/3;
    height:100%;
}
.grid1{
    background:orange;
    height:100%;
}
.grid2{
    background:yellow;
    height:100%;
}
}

}


/*Responsive*/

@media (max-width:998px){

html{
font-size: 55%;
}
.Lojabox{

.categoria_icon{
background: rgba(51, 50, 50, 0.5);
position:fixed;
width:100%;
height:100%;
z-index:2000;
.categoria_iconMenu{
display:flex;
align-items:center;
flex-direction:column;
background:$color-netflix;
position:fixed;
top:8rem;
z-index:200;
width:25%;
height:100%;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.23);
      

.Category_Item{
display:flex;
align-items:center;
margin-left:4rem;
margin-top:2rem;
font-family:$font-poppins;
width:84%;
border:2px solid transparent;

img{
clip-path:circle();
width:13%;
object-fit:contain;
background:$color-quart;

}


&:hover{
background:$color-secundaria;
border-left:2px solid $color-terciaria;

}
a{
font-size:1.5rem;
margin-left:1rem;
color:$color-white;
text-transform:capitalize;
}


}

}
}


.categoria_iconbutton{
display:flex;
margin-top: 9rem;

font-size:2rem;
position:fixed;
right:6rem;
z-index:2001;
button{
color: aqua;
font-size:2rem;
cursor:pointer;
&:hover{
filter:brightness(0.9);
}
}

}

.categoria{

display:none;




}

.cardloaja{


display: flex;
top:11rem;
position:absolute;
right:0;
width:95%;
padding: 20px;
gap: 16px;
margin-top:2rem;

}

}

}

       
        
        
        
        
    
    
    
    
    @media (max-width:890px){
    
       
        
       
    
    }
    @media (max-width:705px){
    
       
      
       
    
    }