.ProdutoFilter{
   
    background-color: aquamarine;
    height: 100%;
    width: 100%;

    .slider{
        height: 5px;
        border:5px;
        background: #b60909;
        position: relative;
        .progress{
            height: 5px;
            border:5px;
            background: rgb(130, 182, 9);
            position: absolute;
            left:25%; right: 25%;
        }
    }

    .inputs-range{
        position: relative;
        input{
            position: absolute;
            top:-5px;
            height: 5px;
            appearance: none;
            width: 100%;
            pointer-events: none;
        }
        input[type="range"]::-webkit-slider-thumb{
            height: 17px;
            width: 17px;
            border-radius: 50%;
            appearance: none;
            background: white;
            pointer-events: auto;
        }
    }
    
}