.ProdutoFilter{
    height: 100%;
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    background-color: aquamarine;
   

    .slider{
        height: 5px;
        border:5px;
        background: #b60909;
        position: relative;
        .progress{
            height: 5px;
            border:5px;
            background: rgb(130, 182, 9);
            position: absolute;
            left:25%; right: 25%;
        }
    }

    .inputs-range{
        position: relative;
        input{
            position: absolute;
            top:-5px;
            height: 5px;
            appearance: none;
            width: 100%;
            pointer-events: none;
        }
        input[type="range"]::-webkit-slider-thumb{
            height: 17px;
            width: 17px;
            border-radius: 50%;
            appearance: none;
            background: white;
            pointer-events: auto;
        }
    }
    .inputs-Namber{
        height: 20%;
        width: 100%;
        margin-top:3rem;
        max-width: 100%;
        display: flex;
        background:#ebd7d7;
        display: flex;
        justify-content: space-between;
        .Namber{
            max-height: 100%;
            max-width: 35%;
            
            padding:1rem ;
            border: 2px solid black;
            border-radius: 5px;
            input{
                line-height: 3rem;
                max-width: 100%;
                font-size: 1.9rem;
               
            }
            input[type= "number"]::-webkit-outer-spin-button,
            input[type= "number"]::-webkit-inner-spin-button{
                appearance: none;
            }
        }
        

    }
    
}