

$color-primaria:rgb(1,110,148);
$color-secundaria:#757575;
$color-terciaria:#5090D3;
$color-Black: rgb(3,37,65);
$color-quart:#72A6A6;
$color-white:#fff;
$color-orange:#F23E16;
$color-yellow:#F29F05;
$color-red:#e50914;
$color-green:#27ae60;
$color-netflix:#000000;
$color-scuro:#130f40;
$light-bg:#f7f7f7;
$font-Roboto: "Roboto";
$font-poppins:'Poppins';
$border:21rem solid rgba(0,0,0,.2);
