

$color-primaria:rgb(1,110,148);
$color-secound:rgb(4, 77, 104);
$color-secundaria:#000000;
$color-terciaria:#5090D3;
$color-Black: rgb(3,37,65);
$color-quart:#b0f0f0;
$color-white:#fff;
$color-orange:#F23E16;
$color-yellow:#ffc457;
$color-red:#f71c27;
$color-green:#27ae60;
$color-netflix:#000000;
$color-Black-light:#1b1818;
$color-scuro:#130f40;
$color-pink:#fd2d98;
$color-aqua:aqua;
$light-bg:#dfdfdf;
$search-bg:rgb(246,247,249);
$box-shadow:2px 1px 1px 2px rgba(0, 0, 0, 0.247);

//Font family

$font-Roboto: "Roboto";
$font-poppins:'Poppins';
$font-AlfaSlab:'Alfa Slab One';
$font-Montserrat: 'Montserrat';
$font-BebasNeue:'Bebas Neue';

//mixin
@mixin background {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;  
    filter: blur(0.2rem); 
    transition: .6s;
&:hover {
    background-size: 120%;
    filter: blur(0);
    h1{
    opacity: 1;
    }
}
}