@import './import';
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    flex-wrap: wrap;
    text-decoration: none;
    outline: none;
    border:none;
    background: none;
    user-select:none;
}

html, body #root{
    width:100%;
    height:100%;
    font-family: $font-Roboto;
    
    
}
body{
   background: $color-Black-light;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


@media (max-width:991px){
    html{
        font-size: 55%;
    }

}

