@import "../../../Styles/import";


.home{
width: 100vw;

position:relative;
top:9rem;




.home_Swippers{


margin: 0 auto;
margin-top:7rem;
width: 95%;
height:50vh;    

}

.home_Card{
width:100%;

.Card-text{
    width:90%;
    margin:0 auto;
    p{
        font-family:$font-OpenSans;
        line-height:3rem;
        white-space: pre-line;
        margin-bottom:2.4rem;
        font-size:1.6rem;
        font-weight:300;
        
    }
}





.home_conteiner{
margin: 0 auto;
align-items:center;
width:90%;
height:100%;
margin-bottom:7rem;

.container_About{
display:flex;

max-width:100%;
height:50%;
background:$color-white;
border-radius:12px;
margin-bottom:2rem;
.about_text{
    
border-radius:12px 0 0  12px;
padding:4rem;
background:$color-yellow-light;
width: 100%;

.btn{
margin-top:3rem;
margin-bottom:3rem;
}
.about_img{
background:$color-transparent;
width:80%;
margin-left:2rem;
img{
max-width:100%;

}
}
}


.container_About_icon{
width: 100%;
height:50%;
ul{
height:100%;
width:100%;
display:flex;
justify-content:space-around;
margin-top:5rem;

.Items, .Items1{
li{

text-align:center;
font-family:$font-OpenSans;
padding:2rem;

.Item_text{
span{
font-size:1.6rem;
font-weight:200;

}
p{

font-size:1.4rem;
font-weight:50;
}
}
}
}




}
}
}

.about_link{
display:flex;
justify-content:end;
font-family:$font-OpenSans;
font-weight:500;
padding-right:1rem;

a{
font-size:1.5rem;
color:$color-netflix;
transition:all .4s;
&:hover{
color:$color-gray-dark;
}
}
}

.container_Lista{
    width:100%;
    margin:0 auto;
    padding-top: 7rem;
    display:flex;
    flex-wrap:wrap;
    
    
}
}


}
}


@media (max-width:768px){
.home{
    .home_Swippers{


        
        width: 88%;
        height:90vh;    
        
        }
.home_conteiner{
.container_About{
    flex-direction: column;
   


.about_text{
border-radius:12px;
width: 100%;
order: 2;
}

.container_About_icon{
max-width: 100%; 
order: 1;  
}
}
}
}
}