@import "../../../Styles/import";


.home{
width: 100vw;
background:rgb(224, 224, 224);
position:relative;
    top:9rem;




.home_Swippers{
    
    
    margin: 0 auto;
    margin-top:7rem;
    width: 95%;
    height:50vh;    
    
}

.home_Card{
    width:100%;
height:82%;
    background:rgb(224, 224, 224);
    
    .Home_titile{
        margin-left: 7rem ;
        margin-bottom: 3rem;
        font-family: $font-poppins;
        font-weight: 400;

        span{
            font-size: 1.4rem;
            font-weight: 350;
        }
    }


    .home_conteiner{
        margin: 0 auto;
        align-items:center;
        width:90%;
        height:100%;

        .Home_Subtitile{
            margin-top: 7rem ;
            margin-bottom: 3rem;
            font-family: $font-poppins;
        font-weight: 400;
        span{
            font-size: 1.4rem;
            font-weight: 350;
        }
        }
        .container_About{
            display:flex;
            width:100%;height:50rem;
            background:white;
            border-radius:12px;
            .about_text{
                max-width:100%;
            }
        }
    }


}
}