@import "../../../Styles/import";
.User{
height:100vh;
position:fixed;
right:0;
background:$color-secundaria;
width:20%;
border-radius:4px 0 ;
z-index:3;
color:$color-white;
animation: fadeUp .4s linear ;
z-index: 102;
.User_btnCross{
position: relative;
top:1.5rem;
left: calc(100% - 4em);
color:$color-white;
cursor: pointer;
}
.Userlink{
position: relative;
top:calc(100vh - 39vh);
width: 100%;
height: 50%;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;

.LinkButton{
padding: 2rem;
}
}
.User_container{
height:100%;
width:100%;
display:flex;
flex-direction:column;
align-items:center;
margin-top: 7rem;


.User_Img{ clip-path: circle(50%);



width:50%;

img{
object-fit: cover;
width:100%;
border:6px solid $color-orange;
border-radius:50%;

}}
button{
font-family: $font-poppins;
font-size: 1.5rem;
cursor:pointer;
background:$color-terciaria;
color:$color-white;
min-width: 90%;
border-radius: 0.5rem;
padding: 1rem 0.5rem;
&:hover{
    filter:brightness(0.9);
   
}
}
}
}

@keyframes fadeUp{
0%{
transform:translateX(5rem);
opacity:0;
}
}

@media (max-width:768px){
    .User{
        width:100%;
    }

}