@import "../../../../Styles/import";
.Categorias{
    max-width:100%;
    max-height:100%;
    font-family:$font-OpenSans;
    h2{
        margin-bottom:2rem;
        font-size:2rem;
        font-weight:500;
        
    }

    .Categoria_Lista{
        width:100%;
        overflow:auto;
        
        li{
            font-size:1.5rem;
            padding:0.2rem 0;
            a{
                text-transform:capitalize;
            color:#fff;
            }
        }

        .subItem{
            margin-left:3rem;
            margin-top:1rem;
            ul{
                margin-left:3rem;
            }
        }
    }
}