.Submenu{
 background:rgba(83, 83, 83, 0.479);
 width:100%;
 position:fixed;
 height:100vh;
 top:calc(100vh - 86vh);
 padding-top:0.2rem;
 animation: fadeUp .4s linear ;
 z-index: 50;
 .Submenu_items{

    position:fixed;
    background:white;
    height:100%;
    width:20%;
 }
}

@media screen and (max-width:992px) and (max-height:680px) {
    .Submenu{
        .Submenu_items{
            width:100%;
        }
    }
}
@keyframes fadeUp{
0%{
transform:translateX(-5rem);
opacity:0;
}
}
