@import "../../../Styles/import";

.Botao {
    border-radius:4px;
    background:$color-Black-light;
    color:$light-bg;
    padding:1.7rem 5rem;
    text-align:center;
    font-size:1.4rem;
    font-family:$font-poppins;
    &:hover{
        filter:brightness(0.9);
       
    }
   
}

