@import "../../../Styles/import";

.Lista_principal{
font-family:$font-OpenSans;
font-weight:300;
padding-right:8rem;
text-align: left;
margin-bottom: 2rem;
width:20%;

.active{
font-size:1.2rem;
font-weight: 400;
}

li{
padding:0.3rem 0;
font-size:1.4rem;
line-height:2rem;
a{
color:$color-gray-dark;
}
}
}



.Lista_Secundaria{
font-family:$font-OpenSans;
font-weight:300;
padding-right:8rem;
text-align: left;
margin-bottom: 2rem;
width:25%;

.active{
font-size:1.4rem;
font-weight: 400;

    color:$color-white;
    cursor:context-menu;
    
}


li{
padding:0.3rem 0;
font-size:1.4rem;
line-height:2rem;

ul{
li{
 padding: 0.5rem 0;   
a{
color:$color-white;
transition: all .4s ease-in-out;
cursor: pointer;
&:hover{
color: $color-gray-dark;
}

}
}
}
}
}

//Responsivedaade
@media (max-width:1034px){

    .Lista_principal{
        width: 25%;
    }

}
@media (max-width:775px){

    .Lista_principal{
        width: 32%;
    }

}

@media (max-width:768px){
    .Lista_principal{
        width: 50%;
    }
    .Lista_Secundaria{
        width: 30%;
    }
}
@media (max-width:643px){
    
    .Lista_Secundaria{
        width: 35%;
    }
}
@media (max-width:500px){
    .Lista_principal{
        width: 100%;
    }
    .Lista_Secundaria{
        width: 100%;
    }
}

