@import "../../../Styles/import";

ul{
font-family:$font-OpenSans;
font-weight:300;
padding-right:8rem;
text-align: start;
.active{
font-size:1.6rem;
margin-bottom: 2rem;
font-weight: 400;
}

li{
padding:0.3rem 0;
font-size:1.4rem;
line-height:2rem;
a{
color:$color-gray-dark;
}
}
}