@import "../../../Styles/import";
.Footer{
height: 75vh;
background: #000;
color: white;
font-family:$font-OpenSans;
.Footer_items{
margin: 0 auto;
width: 90%;
padding: 3.2rem 0;
p{
font-weight: 300;
font-size: 1.5rem;
width: 94%;
line-height: 2rem;
margin-bottom: 3rem;
}
}
.Footer_items_lista{
display: flex;

}
.Footer_items_icons{
border-top: 2px solid rgb(48, 47, 47);
display: flex;
padding-top: 1rem;
justify-content: space-between;
font-family:$font-MPLUSCodeLatin ;
h1{
text-align: center;
color: $color-yellow;
font-weight: 300;
display: flex;
align-items: center;
span{
padding-right: 0.5rem;
color: $color-white;
font-size: 2.5rem;
}
}
span{
display: flex;
align-items: center;
a{
padding: 0 1rem;
font-size: 1.5rem;  
color: $color-gray-dark;
}
}
}
}