@import "../../../Styles/import";



.card{
display: flex;
background: #1D212B;
width:30rem;
height: 40rem;
position: relative;
border-radius: 10px;


&::before{
content:"";
display: block;
background: rgba(255,255,255,0.1);
width: 50%;
height: 100%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
position:absolute;
top:0;
left:0;
z-index:1;
}

.Cardimg{
position:absolute;
z-index: 1;
top: 33%;
left: 50%;
transform: translate(-50%, -50%);
img{
max-width: 250px;
}
}


.Cardproductname{
width: 100%;
color: white;
z-index: 2;
position: absolute;
text-align: center;
top: 250px;
font-size: 1.5rem;

letter-spacing: 1px;
}
.CardPrice{
width:100%;
position:absolute;
z-index: 2;
color: aliceblue;
top: 310px;
text-align: center;
font-size: 30px;
font-weight: 300;
}
.Cardbutton{
position: absolute;
z-index:3;
color:#fff;
background-color: #555;
transform: translateX(-50%);
left:50%;
top: 360px;
font-size: 14px;
width: 50%;
text-align: center;
text-transform: uppercase;
border-radius: 15px;
button{
background:none;
border:none;
cursor: pointer;
color:#fff;

}
}
.cardReaçoes{
    display:flex;
    position: absolute;
    z-index: 3;
    right: 0;
    padding: 1rem;
.Reaçoes{
    padding: 0.5rem;
    color:$color-white;
}
    button{
       
        color:$color-red;
        border: none;
        background: none;
        font-size: 1.8rem;
        cursor: pointer;
        
    }
}

.Cardadd{
    position: absolute;
    z-index: 3;
    right: 0; 
    bottom: 0;
    padding: 1rem;
    
   .btnadd{
        
        color:$color-terciaria;
        border: none;
        background: none;
        font-size: 1.8rem;
        cursor: pointer;
        
    }
}

/*Styles from popCard*/
.popViwesActive{
width: 100%;
position:fixed;
z-index: 2000;
top:0;
left:0;
bottom: 0;
transform: translate(-50% -50%);
background: rgba(51, 50, 50, 0.5);
display: flex;
justify-content:center;
align-items: center;
opacity: 1;
visibility: visible;
animation:fadeUp .4s linear;

.popCard{
width: 50%;
height: 55%;


.popCardimg{

position: relative;
z-index: 2;
background: #1D212B;
justify-content: center;
align-items: center;
width: 50%;
height: 100%;
transform: translateY(25px);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
img{
width: 250px;
position: relative;
z-index: 2;
left:-50px;
top: 20px;
}
}

.popcardinfo{

display: flex;
flex-direction: column;
background: #fff;
border-radius:10px;
width: 30%;
height: 60%;
position:absolute;
top:24.2%;
right: 20.5%;
z-index:2;
padding:1.5rem;
.popcardinfoname{
   width: 100%;
    text-align: center;
    color:black;
    padding-bottom: 2.5rem;
    .popcardName{
        font-size:3.5rem;

    }

}
p{
    padding-bottom: 3rem;
    width: 100%;
    color:black;
    text-align: justify;
    font-size: 1.4rem;
}
.popCardprice{
    font-size:2.5rem;
    font-weight: 300;
    text-decoration: line-through;
    text-align:center;
    color:black;
    padding-bottom: 2.5rem;
}

.popCardBTN{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
   
 
.popCarddet{
padding: 1rem;

.popcardDetBtn{
    background:#009DD2;
    color:#fff;
    font-size: 1.5rem;
    text-align: center;
    padding:1.5rem ;
    border-radius:10px;
    text-transform: uppercase;

    cursor:pointer;
    &:hover{
        filter: brightness(0.9);
    }
}

}
.popCardcom{
    padding: 1rem;
.popcardCBtn{
   
    color: #009DD2;
    text-transform: capitalize;
    font-size: 1.5rem;
 &:hover{
    text-decoration: underline;
 }

}

}

}
}

button{
    border:none;
    background: none;
    position: absolute;
    left: 77%;
    top:27%;
    z-index: 4;
    cursor: pointer;
}

}
}
}



@keyframes fadeUp{
    0%{
        transform:translateY(5rem);
        opacity:0;
    }
}