@import "../../../Styles/import";

.titile{
    margin-left: 7rem ;
    margin-bottom: 3rem;
    font-family: $font-poppins;
    font-weight: 400;
    
    span{
    font-size: 1.4rem;
    font-weight: 350;
    }
    }

    .Subtitile{
        margin-top: 7rem ;
        margin-bottom: 3rem;
        font-family: $font-poppins;
        font-weight: 400;
        span{
        font-size: 1.4rem;
        font-weight: 350;
        }
        }